<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146287455903-791pbhr7pubplar7cf7d6q48jc0e9nus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146287455903-791pbhr7pubplar7cf7d6q48jc0e9nus</string>
	<key>API_KEY</key>
	<string>AIzaSyAiELqscBJ-Ks1tSXB7J85DTueqgTww6-M</string>
	<key>GCM_SENDER_ID</key>
	<string>146287455903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-c9f84</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-c9f84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146287455903:ios:b8bd102dbf07a7da0fbcaa</string>
</dict>
</plist>